.custom-link-active-container {
    padding: 0px 16px;
    background-color: rgba(60, 64, 67, .08);
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid #fa8fbd;
}

.custom-link-disable-container {
    padding: 0px 16px;
}


.custom-link-active {
    color: #222222;
    text-decoration: none;
    font-size: 1.20rem;

}

.custom-link-disable {
    color: #5f6368;
    text-decoration: none;
    font-size: 1.20rem;

}

@media screen and (max-width: 576px) {
    .custom-link-active-container {
        background-color: rgba(26, 115, 232, 0.122);
        padding: 10px 12px;
        border-radius: 50px 0 0 50px;
        border-bottom: none;
    }

    .custom-link-disable-container {
        background-color: transparent;
        padding: 10px 12px;
        border-radius: 0 50px 50px 0;
        border-bottom: none;
    }

    .custom-link-active {
        color: #1a73e8;
        font-size: 16px;
        font-weight: 600;

    }

    .custom-link-disable {
        color: #3c4043;
        font-size: 16px;
        font-weight: 500;
    }
}