.inventory {
    margin: 20px;
    border-radius: 10px;
    padding: 16px;
    height: 370px;
    position: relative;
    background-color: #fff;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: all .3s cubic-bezier(0, 0, .5, 1);
}

.inventory:hover {
    box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
    transform: scale3d(1.01, 1.01, 1.01);
}

.inventory-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}

.fruits-img {
    width: 100%;
    display: block;
    padding-right: 10px;
}

.vertical-border {
    border-right: 1px solid rgb(50, 122, 255);
}

.product-title {
    text-align: right;
    margin-bottom: 2px;
}

.price {
    text-align: right;
    padding-bottom: 5px;
}

.inventory-text {
    text-align: right;
    margin-bottom: 0;
}

.description-text {
    font-size: .980rem;
    padding-top: 20px;

}

.update-button {
    width: 95%;
    margin: 0 auto;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
}

@media screen and (max-width: 576px) {
    .inventory {
        margin: 48px 13px 13px 13px;
    }
}