.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 150px 100px 50px 100px;
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to right top, #051937, #031d44, #022252, #03255f, #0a296d);
    color: #fff;
    margin-top: 80px;
}

.social-icon-container {
    display: flex;
    justify-content: center;

}


.social-icon {
    margin: 16px;
    border: rgb(23, 142, 253) 1px solid;
    padding: 5px;
    font-size: 40px;
    color: rgb(23, 142, 253);
    border-radius: 50%;
    cursor: pointer;
}


.social-icon:hover {
    margin: 16px;
    border: rgb(255, 255, 255) 1px solid;
    padding: 5px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}



@media screen and (max-width: 576px) {
    .footer-container {
        grid-template-columns: 1fr;
        padding: 10px;
        text-align: center;
        margin-top: 30px;
    }
}