.form-title {
    padding: 0 8px;
    margin-bottom: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgb(77, 77, 77);
    letter-spacing: 6px;
    text-align: center;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    color: #0d6efd;
    text-decoration: none;
    cursor: pointer;
}

.link-button:hover {
    background: none;
    border: none;
    padding: 0;
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
}