.inventory-section {
    max-width: 1440px;
    margin: 0 auto;
}

.inventory-container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
}

.inventories-btn-container {
    padding: 80px;
    margin: 0 auto;
    background-color: #4b89f5;
    width: 250px;
    padding: 12px;
    border-radius: 8px;
}

.inventories-btn-container:hover {
    background-color: #337af3;
}

.inventories-btn {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-size: large;
    color: white;
}


.inventories-btn:hover {
    display: block;
    text-align: center;
    font-size: 1rem;
    font-size: large;
    color: white;
}


@media screen and (max-width: 576px) {
    .inventory-container {
        grid-template-columns: 1fr;
        padding: 0 10px;
        grid-gap: 10px;
    }

    .inventories-btn-container {
        margin-top: 30px;
    }
}